.login-modal-container,
.request-ad-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000bf;
    top: 0;
    bottom: 0;
    z-index: 1200;
    display: block;
    align-items: self-end;
    justify-content: center;
    left: 0;
    align-items: center;
}
.request-ad-modal {
  align-items: center;
}
.login-modal-container.show-modal {
  display: flex;
}

.login-modal {
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
    justify-content: center;
}

.google-facebook-sign-in {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.google-facebook-sign-in a,
.google-facebook-sign-in button {
  display: flex;
  align-items: center; 
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
}

.google-facebook-sign-in img {
  width: 25px;
  margin-right: 25px;
}

.language {
  width: 85%;
  display: none;
  justify-content: space-between;
  margin: 0px -10px 20px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.language button {
  width: 49%;
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  width: calc(50% - 20px);
  color: #303a4b;
}

.language button.active {
  color: #3db83a;
  border: 1px solid #d0dadd;
  cursor: default;
}

.sign-in-words,
.register-words {
    align-self: stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 8%;
    font-weight: 700;
    color: #464b4f;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 20px;
}

.sign-in-words.hide,
.register-words.hide {
  display: none;
}

.truecaller-sign-in {
  background-color: #0087ff;
  border: none;
  width: 85%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-phone-sign-in {
  width: 85%;
  height: 40px;
  background-color: #3db83a;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.email-phone-sign-in.hide {
  display: none;
}

.asdf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px 0;
}

.dont-have-an-account {
  font-family: Arial, Helvetica, sans-serif;
  color: #464b4f;
  font-size: 13px;
}

/* .dont-have-an-account */
span#sign-in-register {
  text-decoration: none;
  color: #3db83a;
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.policy-and-rules {
  font-size: 12px;
  font-family: sans-serif;
  color: #303a4b;
  margin-top: 10px;
}
.policy-and-rules a {
  color: #303a4b;
  padding-left: 4px;
}

.input-email-phone-password {
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;
}
.input-email-phone-password.show {
  display: flex;
}

.input-email-phone-password p.password-visibility {
  /* display: none; */
    position: absolute;
    right: 10%;
    top: 3px;
}
.input-email-phone-password p.password-visibility svg {
    height: 30px;
    width: 20px;
    display: block;
}
div.input,
div.input div {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
div.input span,
div.input div span {
    font-family: sans-serif;
    font-size: 11px;
    color: red;
    position: absolute;
    left: 10%;
    top: 77%;
}
 
div.input label.move,
div.input div label.move {
  position: absolute;
  left: 10%;
  font-family: sans-serif;
  font-size: 14px;
  color: #b4c6d0;
  transition: 0.5s;
  background: #fff;
  top: 15%;
  display: flex;
  cursor: text;
}

div.input label.error,
div.input div label.error {
  color: red;
}
div.input span.error,
div.input div span.error {
  color: red !important;
}
div.input.hide {
  display: none;
}
div.input input:focus ~ label ,
div.input div input:focus ~  label,
div.input input:not(:placeholder-shown) ~ label ,
div.input div input:not(:placeholder-shown) ~  label {
  top: -25%; 
  cursor: unset;

}
div.input span + input {
  border-color: red
}
div.input span  ~ input  ~ label { 
  color: red 
}

div.input input {
  height: 35px;
  width: 85%;
  border: 1px solid #b4c6d0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  text-indent: 10px;
}
div.input input.error {
  border: 1px solid #f00;
}

.forgotten-password {
  color: #3db83a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  align-self: flex-end;
  margin-right: 30px;
  margin-bottom: 10px;
}
.forgotten-password.hide {
  display: none;
}
.real-sign-in-button {
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #9ddb9c;
  border: none;
  border-radius: 5px;
}

.sign-in-phone-email-error {
  position: absolute;
  top: -20px;
  left: 9%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: none;
  color: #f28f8f;
}

.sign-in-password-error {
  position: absolute;
  top: 43px;
  left: 9%;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  font-size: 13px;
  color: #f28f8f;
}
.cancel {
  position: relative;
  right: -40%;
  top: 10px;   
}
#cancel-modal {

  cursor: pointer;
  height: 25px;
  width: 25px;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: none;
}

.register-email-box,
.register-password-box,
.register-first-name-box,
.register-last-name-box,
.register-phone-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.agree-with-rules {
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.agree-with-rules span {
  margin-left: 10px;
  color: #3db83a;
  font-size: 13px;
}

.submit-login-details {
  width: 85%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #3db83a;
  border: none;
  border-radius: 5px;
}
.submit-login-details:disabled {
  background-color: #9ddb9c;
}

@media only screen and (min-width: 760px) {
  .login-modal-container {
    align-items: center;
    justify-content: center;
  }

  .login-modal {
    width: 420px;
    border-radius: 20px;
    position: relative;
    padding: 30px 20px;
  }

  #cancel-modal {
    order: 1;
  }

  .language {
    order: 1;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .sign-in-words {
    order: 1;
    margin-bottom: 15px;
  }

  .register-words {
    order: 1;
  }

  .google-facebook-sign-in {
    order: 2;
    margin-top: 15px;
  }

  .truecaller-sign-in {
    order: 1;
  }

  .email-phone-sign-in {
    order: 1;
  }

  .input-email-phone-password {
    order: 1;
  }

  .register-inputs {
    order: 1;
  }
  div.input, div.input div{
    margin-bottom: 20px;
  }

  .asdf {
    order: 1;
  }

  .policy-and-rules {
    order: 1;
  }

  .google-facebook-sign-in button {
    height: 40px;
  }

  .register-phone-span,
  .register-email-span,
  .register-password-span,
  .register-last-name-span,
  .register-first-name-span {
    top: 10px;
  }

  .register-email,
  .register-password,
  .register-first-name,
  .register-last-name,
  .register-phone {
    height: 30px;
  }

  .truecaller-sign-in {
    display: none;
  }
}

.request-ad-modal {
  /*display: none;*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.request-ad-container {
    display: block;
    height: 100%;
    background: #fff;
    width: 100%;
    position: relative;
    overflow: scroll;
    padding-top: 20px;
}
 
.request-ad-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px
}

.request-ad-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.request-ad-container::-webkit-scrollbar-thumb {
  background-color: #72db70;
}

.request-ad-container:hover::-webkit-scrollbar-thumb {
  background-color: #3faf3d;
}


.buy-sell-input-containers {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px auto;
}
.buy-sell-input-containers.submit {
  align-items: center;
}

.buy-sell-input-containers span {
  position: relative;
  color: tomato;
  font-size: 12px;
}

.request-ad-container input,
.request-ad-container select,
.request-ad-container textarea {
  width: 100%;
  outline: none;
  border: 1px solid #3db83a;
  border-radius: 4px;
  height: 40px;
  margin: 5px auto;
  text-indent: 20px;
}

.request-ad-container textarea {
  height: 100px !important;
  padding-top: 10px;
}

.radio-area {
  display: flex;
  align-items: center;
  background: #31951f47;
  border-radius: 6px;
  align-self: center;
}

.radio-area ol {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  justify-content: space-between;
  font-size: 13px;
}

.radio-area ol input {
  margin: 0 5px;
  width: auto;
  outline: unset;
  border: unset;
  border-radius: unset;
  height: auto;
  text-indent: unset;
}

.price-section {
  display: flex;
  width: 100%;
  align-items: center;
}

.price-section label {
  margin-right: 20px;
}

.price-section ol {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.price-section ol span {
  color: #000;
}

.price-section input {
  width: 60%;
  margin: 5px;
  text-indent: 5px;
}

.make-a-request-btn {
  width: 70%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #31951f;
  border-radius: 4px;
  color: #fff;
  background: #31951f;
  margin-top: 15px;
}

.make-a-request-btn {
  width: 88%;
}

#close-request-modal {
    border: none;
    position: absolute;
    right: 15px;
    margin: 0;
    height: 20px;
    width: 20px;
    padding: 5px;
    top: 10px;
    cursor: pointer;
  }

.lds-dual-index {
  background: #656262ba;
  display: flex;
  font-size: 12px;
  color: #fff;
  align-items: center;
  position: absolute;
  top: 20px;
  width: 88%;
  align-self: center;
  height: 40px;
  bottom: -9px;
  top: 15px;
  border-radius: 5px;
  justify-content: center;
}

.lds-dual-index span {
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}

.lds-dual-ring-index {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ids-dual-ring-index 1s linear infinite;
}

@keyframes ids-dual-ring-index {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1032px) {
  .request-ad-modal {
    width: 106vw;
    height: 107vh;
    top: 0;
  }

  .request-ad-container {
    height: 630px;
    width: 500px;
    top: -15px;
  }
}
