#billing-policy {
  background: #fff;
  padding: 20px;
}
body.dark-mode #billing-policy {
  background: #121b22;
  color: silver;
}
#billing-policy header {
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
}
.bp-block {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.bp-block label {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.bp-block ul li {
  padding: 5px 0;
  list-style-type: disc;
}
.bp-block a {
  color: #00b53f;
}
.update-date {
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  #billing-policy {
    margin: 30px 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 768px) {
  #billing-policy {
    width: 88%;
  }
}
@media only screen and (min-width: 1024px) {
  #billing-policy {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  #billing-policy {
    padding: 40px;
    width: 1100px;
  }
}
