#cookie-policy {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-bottom: 30px;
}
label.block {
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0;
}
span.block {
  padding: 7px 0;
}
#cookie-policy a {
  color: #36a333;
}
#cookie-policy span {
  padding: 7px 0;
}
#cookie-policy ul {
  padding: 7px 0;
}
#cookie-policy ul li {
  padding: 3px 0;
  list-style-type: disc;
}
#cookie-policy table tr {
  border: 1px solid;
}
@media only screen and (min-width: 500px) {
  #cookie-policy {
    margin: 30px 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #cookie-policy {
    width: 88%;
  }
}
@media only screen and (min-width: 1200px) {
  #cookie-policy {
    width: 1110px;
  }
}
