  @media only screen and (min-width: 765px) {
        .second-part {
          width: 76.8%;
          overflow: hidden;
          margin-left: 4.7%;
          justify-content: space-between;
          display: flex;
          margin-top: 15px;
        }

        .second-part-one {
          width: 45%;
        }
      }

      @media only screen and (min-width: 1024px) {
        .second-part {
          flex-direction: column;
          width: 460px;
          margin: 0 0 0 15px;
        }

        .second-part-one {
          width: unset;
        }
      }

      @media only screen and (min-width: 1200px) {
        .second-part {
          width: 350px;
        }
      }
    
#fake-wrap-container {
  overflow: unset;
}
.grid-layout {
  width: 100%;
  overflow: hidden;
}
.help-when-big {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.wrapper {
  width: 100%;
  position: relative;
  top: 2px;
  height: 80vw;
  overflow: unset !important;
}
.slides-container {
  height: 81vw;
  position: relative;
  display: flex;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}
 
.slide-image.product img {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 400px !important;
  min-height: 400px;
}
.next-btn,
.prev-btn {
  pointer-events: unset !important;
  cursor: pointer;
  z-index: 2;
  filter: brightness(0.4);
  width: 20px !important ;
}
 
.navigation-dots {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: start;
  margin: 12px 0;
  margin-bottom: 25px;
  position: relative;
  top: 1vw;
  width: 100%;
}
.swiper-pagination-bullet, .more-images  {
  height: 90px !important;
  width: 19% !important;
  margin: 2.5px !important;
  cursor: pointer !important;
  transition: 4ms !important;
  object-fit: cover !important;
  position: absolute !important;
  right: 0 !important;
  z-index: 11 !important;
  display: none !important;
  opacity: 1  !important;
  border-radius: 0  !important;
}
 .swiper-pagination-bullet , .more-images{ 
  object-fit: cover !important;
}

.swiper-pagination-bullet:nth-of-type(1), 
.swiper-pagination-bullet:nth-of-type(2),
.swiper-pagination-bullet:nth-of-type(3),
.swiper-pagination-bullet:nth-of-type(4),
.swiper-pagination-bullet:nth-of-type(5), .more-images {
  position: relative !important;
  display: flex !important;
  right: unset !important;
  z-index: unset !important;
}
 .swiper-pagination-bullet-active{
  border: 1px solid #3db83a !important;
}
.more-images {
  position: absolute;
  z-index: 2;
  height: 100%; 
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000009e;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  user-select: none;
}
/* end of slide styling  */
div.imageContainer {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  width: 100%;
}
div.imageContainer div.nameAndPrice {
  font-size: 18px;
  margin-left: 3px;
  font-weight: 700;
  color: #2b2424;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5em;
  margin-top: 10px;
}
div.imageContainer div.nameAndPrice span:nth-of-type(1) {
  margin-right: 20px;
  font-size: 18px;
}
div.imageContainer div.nameAndPrice span:nth-of-type(2) {
  font-size: 18px;
  color: #3db83a;
}
div.imageContainer div.promotion {
  margin-left: 3px;
  color: #99b2bf;
  font-size: 12.5px;
  margin-top: 5px;
  display: flex;
}
div.imageContainer div.promotion span:nth-of-type(1) {
  border: 1px solid #99b2bf;
  padding: 3px 6px;
  border-radius: 2px;
}
div.imageContainer div.promotion span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
div.imageContainer div.promotion span:nth-of-type(2) img {
  width: 15px;
}
div.imageContainer div.requestAndShow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
  display: flex;
  position: relative;
}
div.imageContainer div.requestAndShow button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 48%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}
div.imageContainer div.requestAndShow button:active {
  font-size: 15px;
}
div.imageContainer div.requestAndShow button.preview {
  width: 29vw;
  font-size: 13px;
}
div.imageContainer div.requestAndShow button:nth-of-type(1) {
  border: 1.5px solid #48a946;
  color: #48a946;
  margin-right: 5px;
}
div.imageContainer div.requestAndShow button:nth-of-type(2) {
  border: 1.5px solid #48a946;
  background-color: #45ab44;
  color: #fff;
  font-weight: 500;
  margin-left: 5px;
}
div.imageContainer div.requestAndShow button:nth-of-type(2) a {
  color: #fff;
}
div.imageContainer div.requestAndShow button:nth-of-type(2) img {
  width: 20px;
  height: 17px;
  margin-right: 5px;
}
div#imageModal {
  height: 100%;
  background-color: #000000db;
  position: fixed;
  z-index: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
}
#modalImage {
  height: 70%;
  position: relative;
  width: 100%;
  object-fit: cover;
}
.close-image-modal {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 6px;
    background: #000;
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 50%;
}
div.chatContainer {
  margin-top: 1px;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #262a2b;
  display: none;
}

div.chatContainer h5 {
  font-weight: lighter;
  font-size: 14px;
  padding: 20px 0 10px 20px;
}

div.chatContainer ol {
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  padding-left: 20px;
}

div.chatContainer ol li {
  display: flex;
  padding: 9px;
  margin-right: 10px;
  border: 1px solid #3db83a;
  border-radius: 5px;
  font-size: 90%;
  color: #217a20;
  transition: 0.3s;
  font-size: 13px;
}

div.chatContainer ol li:hover {
  cursor: pointer;
}

div.chatContainer ol li::selection {
  color: #3db83a;
}

div.chatContainer div.messageandspan {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

div.chatContainer div.messageandspan span {
  display: flex;
  color: #616364;
  position: absolute;
  top: 14px;
  left: 40px;
  background: #fff;
  font-size: 15px;
  transition: 0.3s;
}

div.chatContainer div.messageandspan textarea {
  width: 86%;
  height: 40px !important;
  border: 1px solid #99b2bf;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 16px;
  color: #616364;
  padding: 15px 0 0 15px;
}

div.chatContainer div.messageandspan textarea:focus {
  border: 1px solid #3db83a;
  outline: none;
}

div.chatContainer div.messageandspan span:nth-of-type(2) {
  outline: none;
  position: relative;
  color: red;
  font-size: 12px;
  background-color: none;
  width: fit-content;
  top: 0px;
  display: none;
  transition: unset;
}

div.chatContainer button {
  width: 90%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #e99b2f86;
  margin: 15px 0;
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
  transition: 0.3s;
}
div.chatContainer button.active {
  background-color: #ff9500;
}

div.chatContainer button:active {
  font-size: 15px;
}

div.chatContainer div#offerMoudle {
  position: absolute;
  background-color: rgba(43, 36, 36, 0.782);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
  position: fixed;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

div.chatContainer div#offerMoudle .content {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 430px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

div.chatContainer div#offerMoudle .content ol {
  border: 1px solid #616364;
  margin-bottom: 15px;
  border: none;
  padding: 0px;
}

div.chatContainer div#offerMoudle .content ol li {
  border: 1px solid #616364;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1px 15px;
  margin: 0 5px;
  height: 25px;
  color: #6b7b83;
  padding-top: 11px;
  border-radius: 50px;
  font-size: 15px;
}

div.chatContainer div#offerMoudle .content h4 {
  margin-bottom: 15px;
  font-size: 15px;
}
.order-input-naira {
  width: 100%;
  position: relative;
  width: 80%;
  align-items: center;
}

div.chatContainer div#offerMoudle .content input,
div.chatContainer div#offerMoudle .content select,
div.chatContainer div#offerMoudle .content textarea {
  width: 85%;
  height: 35px;
  border: 1px solid #3cb83a93;
  text-indent: 44px;
  color: #6b7b83;
  z-index: 2;
  background: transparent;
  outline: 5px solid #fff;
  border-radius: 3px;
}
input#customer-phone-number,
input#customer-address,
input#customer-name,
select#quantity-of-meal,
div.chatContainer div#offerMoudle .content textarea {
  width: 80% !important;
  text-indent: 10px !important;
  margin: 5px;
}
div.chatContainer div#offerMoudle .content input.meal {
  width: 100%;
}

div.chatContainer div#offerMoudle .content input:focus {
  height: 35px;
  border: 1px solid #3cb83a93;
  outline: none;
}

div.chatContainer div#offerMoudle .content input::-webkit-outer-spin-button,
div.chatContainer div#offerMoudle .content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

div.chatContainer div#offerMoudle .content span.pin-explained {
  text-align: center;
  font-size: 10px;
  padding: 0;
}
div.chatContainer div#offerMoudle .content span {
  position: absolute;
  left: 8%;
  top: 216px;
  color: #99b2bf;
  background-color: #9ca1a34b;
  padding: 11px 14px;
  z-index: 1;
}
div.chatContainer div#offerMoudle .content span.meal {
  padding: 9px 14px;
  top: 3px;
  left: 0px;
}
div.chatContainer div#offerMoudle .content button {
  width: 85%;
  margin: 0;
  margin-top: 20px;
  background-color: #9ca1a34b;
  color: #99b2bf;
  cursor: not-allowed;
}
div.chatContainer div#offerMoudle .content button.skill {
  width: 100%;
}
div.chatContainer div#offerMoudle .content button.active {
  cursor: pointer;
  background: #ffa600b0;
  color: #fff;
}
div.chatContainer div#offerMoudle {
  position: absolute;
  background-color: rgba(43, 36, 36, 0.782);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  display: none;
}
div.chatContainer div#offerMoudle .content {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  flex-direction: column;
  top: 5px;
}
div.chatContainer div#offerMoudle .content.meal {
  height: 460px;
}
div.chatContainer div#offerMoudle .content span {
  position: absolute;
  left: 8%;
  top: 145.5px;
  color: #99b2bf;
  background-color: #9ca1a34b;
  padding: 7px 15px;
  z-index: 1;
}
div.chatContainer div#offerMoudle .content span.property {
  top: 186.6px;
}
div.chatContainer div#offerMoudle .content button {
  width: 85%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #a39d9c4b;
  color: #99b2bf;
  cursor: not-allowed;
}
div.chatContainer div#offerMoudle .content button.active {
  cursor: pointer;
  background: #ffa600b0;
  color: #fff;
}
div.featuresandspec,
div.onelinefands {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-top: 1px;
  background-color: #fff;
  padding-top: 10px;
}
div.featuresandspec ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.featuresandspec ol:nth-of-type(1),
div.onelinefands ol {
  list-style-type: none;
  margin: 0;
  margin-right: 5%;
  margin-left: 7px;
  color: rgb(28, 27, 27);
  font-size: 14px;
  padding: 1px 20px;
}
div.featuresandspec ol li {
  color: #616364;
  font-size: 10px;
  padding: 5px 20px;
}
div.featuresandspec ol li:nth-of-type(odd) {
  color: rgb(28, 27, 27);
  font-size: 15px;
  padding: 5px 20px;
}

div.onelinefands-preview {
  display: flex;
  align-self: baseline;
  margin-top: 20px;
}

div.onelinefands-preview ol {
  list-style-type: none;
  margin: 0;
  margin-right: 5%;
  margin-left: 7px;
  color: rgb(28, 27, 27);
  font-size: 14px;
  padding: 1px 20px;
  white-space: pre-line;
}
div.onelinefands {
  white-space: pre-line !important;
}

div.featuresandspec,
div.onelinefands {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-top: 1px;
  background-color: #fff;
  padding-top: 10px;
}

div.featuresandspec ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.featuresandspec ol:nth-of-type(1),
div.onelinefands ol {
  list-style-type: none;
  margin: 0;
  margin-right: 5%;
  margin-left: 7px;
  color: rgb(28, 27, 27);
  font-size: 14px;
  padding: 1px 20px;
}
div.onelinefands ol li {
  color: rgb(28, 27, 27);
  font-size: 14px;
  padding: 1px 20px;
}
div.maosc.preview {
  width: 94%;
}

div.maosc {
  display: flex;
  align-items: stretch;
  margin-top: 0px;
  width: 98%;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
}

div.maosc button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 34.5vw;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  background: #48a946;
}
div.maosc button span {
  font-weight: lighter;
}

div.maosc button:nth-of-type(1) {
  border: 1.5px solid #48a946;
  color: #48a946;
  margin-right: 5px;
  width: 35vw;
  padding: 8px 20px;
  display: none;
  margin: 0;
}
div.maosc.property button:nth-of-type(1) {
  width: 20vw;
  font-size: 11px;
}
div.maosc.property div {
  border: 1.5px solid #48a946;
  color: #48a946;
  margin-right: 5px;
  width: 20vw;
  padding: 10px 20px;
  display: flex;
  margin: 0;
  font-size: 11px;
  justify-content: center;
  border-radius: 5px;
  margin: 3px;
  background: #5bc5596b;
  cursor: pointer;
  display: none;
}

div.maosc button.contact1 {
  border: 1.5px solid #5bc559;
  width: 90vw;
  font-size: 14px;
  margin-left: 0;
  background-color: #5bc559;
  color: #fff;
  font-weight: 500;
  display: flex;
  padding: 8px 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

div.maosc button.contact1 a {
  color: #fff;
}

div.maosc button.contact1 img {
  width: 20px;
  height: 17px;
  margin-right: 5px;
}
.social-media-links {
  display: none;
}
.last-make-an-offer {
  display: none;
}
.second-part.preview {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.price-and-rcb {
  display: none;
}

.request-callback-modal-box {
  position: fixed;
  bottom: 0;
  height: 100vh;
  background: #00000070;
  width: 100%;
  left: 0;
  z-index: 100;
  display: none;
  align-items: flex-end;
  justify-content: center;
}

.request-callback-modal {
  height: 40%;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  flex-direction: column;
  padding: 20px 50px;
  display: none;
}

.request-callback-modal button {
  background-color: #2eb42b;
  width: 100%;
  margin-top: 20px;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.sellers-info {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  /* margin: -1px; */
  padding: 20px;
  background: #fff;
  width: 95%;
}

.sellers-info img {
  width: 40px;
  border-radius: 50%;
  padding: 1px;
  background-color: #5b656d60;
  margin-right: 5px;
  height: 40px;
  object-fit: cover;
}

.sellers-info .active-stat {
  width: 8px;
  height: 8px;
  background-color: #217a20;
  border-radius: 50%;
  position: absolute;
  left: 55px;
  top: 59px;
}

.name-and-add-info {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80vw;
  margin-bottom: 15px;
  position: relative;
}

.name-and-add-info .name {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.name-and-add-info ol {
  color: #217a20;
  font-size: 15px;
  list-style-type: disc;
  font-weight: bold;
  margin-left: 20px;
}

.name-and-add-info img {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  transform: rotate(180deg);
  justify-self: end;
  position: absolute;
  right: -10px;
}

.no-of-years {
  display: flex;
  font-size: 14px;
  margin-top: -5px;
}

.no-of-years img {
  height: 14px;
  width: 14px;
  padding: 0;
  background: transparent;
  margin: 0;
}

.no-of-years span {
  background-color: #c3cacf48;
  margin: 1px 5px;
  padding: 0px 3px;
  border-radius: 3px;
}
.scsc {
  display: none;
}

.safety-tips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding: 20px 30px;
}

.safety-tips label {
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 15px;
}

.safety-tips ul {
  color: #464b4f;
  line-height: 1.5;
}
.safety-tips ul li {
  font-size: 15px;
}

.unavailable-and-report {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background: #fff;
  width: 95%;
  font-size: 14px;
}

.unavailable-and-report button {
  width: 40vw;
  padding: 5px 30px;
  margin: 0 5px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #b3bbc279;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.unavailable-and-report button:nth-of-type(1) {
  margin: 0 5px;
  color: #0aa7eb;
}

.unavailable-and-report button:nth-of-type(2) {
  margin: 0 5px;
  color: red;
}

.unavailable-and-report button img {
  width: 10px;
  height: 10px;
}
.post-ad-like-this {
  color: #3db83a;
  border: 1px solid #3db83a;
  width: 80%;
  text-align: center;
  padding: 10px 15px;
  letter-spacing: 1px;
  margin: 10px auto;
  border-radius: 5px;
}
.post-ad-like-this a {
  color: inherit;
}

.chat-on-whatsapp {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  margin: 0px auto;
  border: none;
  background: #45ab44;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  bottom: -40px;
}
.chat-on-whatsapp img {
  height: 25px;
  margin-right: 10px;
}
.chat-on-whatsapp span {
  font-size: 15px;
}
label.chat-on-whatsapp {
  display: none !important;
}

.similar-adverts-block {
  width: 95%;
  margin: 10px auto;
  display: flex;
  padding: 10px 6px;
  flex-direction: column;
}

.similar-adverts-block label {
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.similar-adverts-block {
  width: 95%;
  margin: 10px auto;
  display: flex;
  padding: 10px 6px;
  flex-direction: column;
}

.similar-adverts-block label {
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.similar-adverts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.similar-adverts ol {
  display: flex;
}
.similar-adverts ol a {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  overflow: hidden;
  border-top-left-radius: 8px;
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
}

.similar-adverts ol .s-a-image {
  width: 100%;
}

.similar-adverts ol .s-a-image img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.similar-adverts ol span {
  padding: 1px 10px;
}

.similar-adverts ol span:nth-of-type(1) {
  color: #2eb42b;
  font-weight: bold;
  font-size: 15px;
}

.similar-adverts ol span:nth-of-type(2) {
  font-size: 14px;
}

.similar-adverts ol span:nth-of-type(3) {
  padding-top: 16px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6c8ea0;
}

.similar-adverts ol .location {
  display: flex;
  align-items: center;
  padding: 1px 10px;
}

.similar-adverts ol .location img {
  height: 12px;
}

.similar-adverts ol .location span {
  padding: 0;
  padding-top: 5px;
  line-height: 17px;
  font-weight: 400;
  color: #6c8ea0;
  font-size: 11px;
  font-weight: auto;
}

.similar-adverts ol .condition {
  padding: 11px 10px;
}

.similar-adverts ol .condition span {
  color: #000000;
  font-size: 11px;
  padding: 8px 10px;
  background-color: #6861614d;
  margin-bottom: 10px;
  border-radius: 2px;
}
.slide-indicator {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  display: flex;
  align-items: center;
  color: #fff;
  left: 1%;
  padding: 5px;
  font-size: 13px;
  background-color: #6666668e;
  border-radius: 5px;
  z-index: 5;
}
.slide-indicator img {
  height: 20px;
}
.slide-indicator span {
  color: #fff;
  padding: 0px 4px;
}
.visual-info-from-form.preview {
  width: 90%;
}

.visual-info-from-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
}

.visual-info-from-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual-info-from-form img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  padding: 6px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
}

.visual-info-from-form span {
  font-size: 11px;
  white-space: nowrap;
  color: #4d4d4d;
}
.facilities {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #fff;
  margin-top: 20px;
}

.facilities div {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}

.facilities div span {
  padding: 5px;
  background: #ada8a838;
  border-radius: 4px;
  width: fit-content;
  margin: 5px 0px;
  font-size: 12px;
}

.facilities div.hidden {
  display: none;
}

.facilities label {
  align-self: end;
  position: relative;
  right: 31px;
  margin-top: 10px;
}

.reserve-property-modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000090;
  align-items: center;
  justify-content: center;
  z-index: 300;
  left: 0;
}
.reserve-property-modal form {
  height: 350px;
  width: 70%;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  position: relative;
}
.reserve-property-modal form label {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 0;
}
.reserve-property-modal form span {
  line-height: 1.4;
}
.reserve-property-modal form button {
  width: 100%;
  display: flex;
  height: 40px;
  background: #3db83a;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 20px auto;
  cursor: pointer;
}
@media only screen and (max-width: 300px) {
  div.chatContainer ol {
    padding-left: 5px;
  }
  div.featuresandspec ol:nth-of-type(1),
  div.onelinefands ol {
    padding: 1px 2px;
  }
  div.featuresandspec ol li:nth-of-type(odd) {
    font-size: 12px;
  }
  div.featuresandspec ol li {
    font-size: 9px;
  }
  .name-and-add-info .name,
  .name-and-add-info ol {
    font-size: 11px;
  }
  .no-of-years span {
    font-size: 11px;
  }
}
@media only screen and (max-width: 450px) {
  .help-when-big {
    width: 100vw;
  }
  div.imageContainer .requestAndShow {
    display: flex;
    width: 100%;
  }
  div.imageContainer div.requestAndShow button {
    display: flex;
  }
  .navigation-dots {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 0;
    margin-bottom: -15px;
    position: relative;
    top: -2px;
  }
 .swiper-pagination-bullet , .more-images{
    height: 73px !important;
    width: 19.5vw !important;
    margin: 1px !important;
    cursor: pointer !important;
    transition: 4ms !important;
  }
.swiper-pagination-bullet-active {
    border: 1px solid #3db83a !important;
  }
  .more-images {
    height: 73px;
    width: 19vw;
    font-size: 15px;
    font-weight: unset;
  }
  #modalImage {
    height: 75%;
    position: relative;
    width: 100%;
    object-fit: contain;
  }
  div.chatContainer.preview {
    width: 100%;
  }
  div.chatContainer {
    width: 100%;
    margin-top: -1px;
  }
  div.featuresandspec.preview {
    width: 100%;
  }
  div.featuresandspec {
    width: 100%;
  }
  div.onelinefands-preview {
    width: 94%;
    margin-top: 15px;
  }
  div.onelinefands {
    width: 100% !important;
  }
  div.maosc {
    width: 90%;
  }

  div.maosc label {
    width: 38px;
    display: none;
    font-size: 13px;
  }

  div.maosc label:nth-of-type(1) {
    display: none;
    margin: 0;
  }

  div.maosc label:nth-of-type(2) {
    padding: 8px 10px;
  }
  .second-part-one {
    width: 105%;
  }
  .sellers-info {
    width: 94%;
  }
  .no-of-years {
    font-size: 12px;
  }

  .no-of-years.preview {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
  }
  .unavailable-and-report.preview {
    width: 92%;
  }
  .unavailable-and-report {
    width: 99%;
  }

  .unavailable-and-report button {
    font-size: 12px;
    padding: 10px 15px;
  }
  .similar-adverts {
    width: 100%;
  }
  .grid-layout {
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

}
@media only screen and (min-width: 500px) {
  div.imageContainer {
    width: 100% !important;
  }
  div.chatContainer div#offerMoudle .content span.meal {
    top: 3px;
    left: 0;
  }
  div.onelinefands-preview ol {
    margin-left: 0px;
  }
  .visual-info-from-form.preview {
    width: 96%;
    padding-left: 0;
  }
  .visual-info-from-form {
    width: 97.4%;
    justify-content: start;
  }
  .visual-info-from-form div {
    margin: 0px 5px;
  }
  .facilities {
    width: 95%;
  }

  .facilities label {
    display: none;
  }

  .facilities div {
    grid-template-columns: repeat(2, 0.3fr);
  }
  .facilities div.hidden {
    display: grid;
  }
  .reserve-property-modal form {
    width: 380px;
  }
}
@media only screen and (max-width: 700px) {
  .second-part.preview {
    flex-direction: column;
  }

  .second-part.preview .s-tips-to-palt {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .second-part.preview .second-part-one {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second-part.preview .s-tips-to-palt {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .help-when-big {
    width: 75%;
    margin-left: 3%;
  }
  div.imageContainer {
    width: 100%;
  }
  div.imageContainer div.nameAndPrice {
    font-size: 25px;
    margin-left: 15px;
    font-weight: 700;
    color: #413b3bce;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    margin-top: 10px;
  }
  div.imageContainer div.nameAndPrice span:nth-of-type(1) {
    margin-right: 20px;
  }
  div.imageContainer div.nameAndPrice span:nth-of-type(2) {
    margin-right: 20px;
    display: none;
  }
  div.imageContainer div.promotion {
    margin-left: 15px;
    color: #99b2bf;
    font-size: 12.5px;
    margin-top: 25px;
    display: flex;
    margin-bottom: 1px;
    padding-bottom: 7px;
  }
  div.imageContainer div.requestAndShow {
    display: none;
  }
  div.imageContainer .wrapper {
    height: 480px;
  }
  div.imageContainer .slides-container {
    height: 480px;
  }
  .navigation-dots {
    height: 95px;
  }
.swiper-pagination-bullet , .more-images{
    width: 19.2% !important;
    height: 130px !important;
  }
  div#imageModal {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 103vh;
  }
  #modalImage {
    width: 85%;
    height: 80%;
    object-fit: contain;
  }
  div.featuresandspec {
    width: 100%;
  }
  div.onelinefands {
    width: 95%;
  }
  div.maosc.preview {
    width: 100%;
  }

  div.maosc {
    margin: 0;
    width: 68.1vw;
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  div.maosc label:nth-of-type(1) {
    display: none;
  }

  div.maosc label:nth-of-type(2) {
    width: 12vw;
    background-color: #3db83a;
    padding: 10px;
    white-space: nowrap;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 2px;
  }
  div.maosc label:nth-of-type(2) svg {
    height: 20px;
    margin-left: 10px;
  }

  .social-media-links {
    display: none;
    align-items: center;
    justify-content: start;
    position: relative;
    align-self: flex-start;
    background-color: #fff;
    width: 85.8%;
    padding: 20px 18px;
  }

  .social-media-links img {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 25px;
    width: 25px;
    margin: 2px 7px;
  }
  div.mao-block {
    width: 99.2%;
    padding-bottom: 10px;
    align-self: baseline;
    display: flex;
  }

  .last-make-an-offer {
    display: flex;
    background-color: #fff;
    display: none;
    outline: none;
    border: 1px solid #45ab44;
    width: 279px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    left: -1px;
    color: #45ab44;
    border-radius: 5px;
    margin-left: 10px;
  }
  .last-make-an-offer.preview {
    width: 250px;
    left: 10px;
  }
  .second-part-one {
    width: unset;
  }
  .second-part-one {
    width: 45%;
  }
  .price-and-rcb {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 0;
    width: 108%;
    padding: 0px;
  }
  .desktop-mode-price {
    font-size: 30px;
    color: #262a2bc0;
    font-weight: bolder;
    margin: 5px 0px 10px;
    padding: 20px 15px;
  }
  .desktop-mode-price.preview {
    font-size: 25px;
  }

  .desktop-mode-rcb {
    padding: 10px 15px;
  }

  .desktop-mode-rcb button {
    width: 100%;
    color: #37a534;
    border: 1px solid #37a534;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 15px;
    height: 40px;
    transition: 0.3s;
    cursor: pointer;
  }

  .desktop-mode-rcb button:hover {
    background-color: #38a53423;
  }
  .request-callback-modal {
    padding: 0px;
  }

  .name-show {
    width: 110%;
    overflow: hidden;
  }

  .name-show.preview {
    width: 100%;
  }
  .sellers-info {
    width: 85%;
  }
  .name-and-add-info {
    width: 100%;
  }
  .no-of-years {
    font-size: 9px;
  }

  .scsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 88%;
    padding: 1px 15px;
    padding-bottom: 20px;
  }

  .scsc button {
    font-size: 15px;
    width: 210px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .scsc label:active {
    font-size: 16px;
  }
  .scsc button a {
    height: 100%;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scsc button svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .scsc button:hover {
    background: unset;
  }
  .scsc button:nth-of-type(1) {
    background-color: #37a534;
    color: #fff;
    font-weight: bold;
    margin: 5px 10px;
  }

  .scsc button:nth-of-type(2) {
    border: 1px solid #37a534;
    color: #37a534;
    font-weight: bold;
    display: none !important;
  }
  .s-tips-to-palt {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    background-color: #fff;
    margin-right: 15px;
    height: fit-content;
    overflow: hidden;
  }
  .safety-tips {
    background-color: #fff;
    width: 84%;
  }

  .safety-tips ul {
    font-size: 13px;
  }

  .unavailable-and-report {
    width: 95%;
  }

  .unavailable-and-report button {
    width: 190px;
    height: 40px;
    font-size: 13px;
    font-weight: unset;
    display: flex;
  }
  .post-ad-like-this {
    width: 80%;
    position: relative;
    left: 0px;
    border-radius: 5px;
  }
  label.chat-on-whatsapp {
    display: flex !important;
    position: relative;
    top: 0;
    height: 15px;
    margin: 0 0 0 5px !important;
    width: fit-content !important;
    border-radius: 2px !important;
    background: #3db83a;
  }
  .similar-adverts-block {
    width: 76%;
  }
  .similar-adverts-block {
    width: 76%;
  }

  .similar-adverts {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .help-when-big {
    margin-left: 0;
    width: 910px;
  }
  div.imageContainer .wrapper {
    height: 380px;
  }
  div.imageContainer .slides-container {
    height: 380px;
  }
  div.maosc {
    width: 92%;
  }
  .social-media-links {
    width: unset;
  }
  .second-part.preview {
    flex-direction: column;
  }

  .second-part.preview .second-part-one {
    width: 100%;
  }

  .second-part.preview .s-tips-to-palt {
    width: 100%;
  }
  .second-part-one {
    width: 92% !important;
  }
  .scsc label:nth-of-type(2) {
    margin-bottom: 20px;
  }
  .s-tips-to-palt {
    margin-top: 20px;
    width: 319px;
    background-color: transparent;
  }
  .safety-tips {
    width: 270px;
    position: relative;
  }
  .unavailable-and-report {
    width: 310px;
    margin-top: 20px;
  }

  .unavailable-and-report button {
    width: 119px;
    height: 35px;
    font-size: 11px;
    white-space: nowrap;
  }

  .unavailable-and-report button:nth-of-type(2) {
    margin-right: 40px;
  }
  .post-ad-like-this {
    width: 235px;
    margin: 0;
    border-radius: 0;
    margin-top: 30px;
    outline: 20px solid white;
    margin-bottom: 15px;
    align-self: baseline;
    padding-left: 20px;
    margin-left: 10px;
  }
  .similar-adverts-block {
    width: 85%;
  }
  .similar-adverts-block {
    width: 85%;
  }
  .similar-adverts {
    width: 64%;
  }
  .grid-layout {
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    margin: 1px auto;
    margin-left: 7%;
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .help-when-big {
    width: 820px;
  }
  .navigation-dots {
       margin: 0;
    height: 158px;
    top: 0;
  }
 .swiper-pagination-bullet , .more-images  {
    height: 159px !important;
    width: 159px !important;
  }
 .swiper-pagination-bullet-active{
    height: 158px !important;
    width: 158px !important;
  }
  #modalImage {
    width: unset;
    height: 85%;
  }
  div.chatContainer div#offerMoudle .content {
    width: 40%;
  }

  .last-make-an-offer {
    background-color: #fff;
    display: none;
    outline: none;
    border: 1px solid #45ab44;
    width: 270px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    color: #45ab44;
    border-radius: 5px;
    margin-left: 10px;
  }
  .price-and-rcb {
    display: flex;
    width: 340px;
  }
  .name-show {
    width: 340px;
  }
  .sellers-info {
    width: 328px;
  }
  .name-and-add-info ol {
    display: none;
  }
  .no-of-years {
    flex-direction: column;
  }

  .no-of-years span {
    width: fit-content;
  }

  .scsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 340px;
    padding: 0;
  }

  .scsc label {
    width: 280px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .scsc label img {
    width: 25px;
    margin-right: 5px;
  }

  .scsc label:nth-of-type(1) {
    background-color: #37a534;
    color: #fff;
    font-weight: bold;
    margin: 5px 10px;
  }

  .scsc label:nth-of-type(2) {
    border: 1px solid #37a534;
    color: #37a534;
    font-weight: bold;
  }
  .s-tips-to-palt {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 340px;
  }
  .safety-tips {
    background-color: #fff;
    width: 310px;
    margin-top: 15px;
    font-size: 13px;
    position: relative;
  }
  .unavailable-and-report {
    width: 100%;
    position: relative;
    padding: 0;
  }

  .unavailable-and-report button {
    font-size: 12px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px !important;
  }
  .unavailable-and-report button:nth-of-type(2) {
    margin: 0 5px;
  }
  .post-ad-like-this {
    background-color: #fff;
    outline: 10px solid #fff;
    border-radius: 0px;
    width: 93%;
    justify-self: start;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    align-self: center;
    padding: 10px 0;
  }
  .similar-adverts-block {
    width: 1183px;
  }
  .similar-adverts-block {
    width: 1183px;
  }

  .similar-adverts {
    width: 70%;
  }
  .similar-adverts ol {
    width: 255px;
  }
  .grid-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
    width: 100%;
  }
}

/*  */

/*for html page*/
    <style>
      @media only screen and (min-width: 765px) {
        .second-part {
          width: 76.8%;
          overflow: hidden;
          margin-left: 4.7%;
          justify-content: space-between;
          display: flex;
          margin-top: 15px;
        }

        .second-part-one {
          width: 45%;
        }
      }

      @media only screen and (min-width: 1024px) {
        .second-part {
          flex-direction: column;
          width: 460px;
          margin: 0 0 0 15px;
        }

        .second-part-one {
          width: unset;
        } 
      }

      @media only screen and (min-width: 1200px) {
        .second-part {
          width: 350px;
        }
      }
    </style>
/* slide*/
.swiper-pagination-bullet , .more-images {
  height: 70px
}
.swiper-pagination {
  display: flex !important; 
  bottom: -80px !important;
}
@media only screen and (min-width: 500px) {
  .swiper-pagination {
    bottom: -95px !important;
  }
  .navigation-dots {
    margin: 5px 0
  }
}
@media only screen and (min-width: 765px) {
  .swiper-pagination {
    bottom: -135px !important;
  }
  .navigation-dots {
    height: 110px;
  }
}
@media only screen and (min-width: 1200px) {
  .swiper-pagination {
    bottom: -165px !important;
  }
  .navigation-dots {
    height: 150px;
  }
}