* {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 14px; */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #eef2f4;
  justify-content: unset;
  align-items: unset;
  display: flex;
  flex-direction: column;
}

img {
  width: 20px;
}

div.top_header img[alt="ibom-market-logo"] {
  height: 41px;
  width: 45px;
}

div.top_header .bars.toping {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  background-color: #3db83a;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: #383737;
  transition: all 0.3s;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.header div:nth-of-type(1) {
  margin-left: 5px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.setting-container {
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.setting-container span {
  font-size: 10px;
  margin-right: 10px;
}

.setting-container img {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.back-to-main {
  display: none;
}

.header div.phone-number {
  display: none;
}

.tad-two {
  display: none;
}

.payment-info {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  margin: 10px 0;
}
.payment-info label {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
}
.payment-info img {
  width: 30px;
  height: 20px;
}
.payment-info div {
  padding: 5px 15px;
}
.payment-info span {
  padding: 5px 15px;
}
.payment-info div span {
  padding: 0;
}

.final-payment-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}
.final-payment-info li {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.final-payment-info li:nth-of-type(3) span:nth-of-type(2) {
  font-size: 20px;
  font-weight: bold;
}
.final-payment-info li:nth-of-type(4) span:nth-of-type(1) {
  color: #686060;
}
.final-payment-info li:nth-of-type(4) span:nth-of-type(2) {
  color: #1fb141;
  background: #d2efd9;
  padding: 3px 5px;
  border-radius: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 300px) {
  .edit-delivery-status {
    width: 110px;
  }
}
@media only screen and (max-width: 430px) {
  .header {
    background-color: #fff;
    width: 109%;
  }

  .back-to-main {
    display: flex;
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  div.top_header {
    display: flex;
    width: 100%;
  }

  .tab-and-desktop {
    margin-top: 40px;
    display: flex;
    margin: 40px auto;
  }

  .tad-one {
    width: 344px;
    box-shadow: 1px 1px 4px rgb(80 114 125 / 40%);
  }

  .header {
    height: 165px;
    background: linear-gradient(118.45deg, #00b53f 0.67%, #00831e 100.93%);
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    flex-direction: column;
    overflow: hidden;
  }

  .profile-picture {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
  }

  .profile-picture img {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  .header div:nth-of-type(1) {
    flex-direction: column;
  }

  .header .setting-container {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: row !important;
  }

  .header div.user-name {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0;
  }

  .header div.phone-number {
    display: flex;
    font-size: 14px;
    opacity: 0.4;
    color: #fff;
    font-weight: 700;
  }

  .tad-two {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 10px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(80 114 125 / 40%);
    padding-bottom: 20px;
  }
  .ad-category {
    display: none;
  }
  .ad-category.display {
    display: block;
  }

  .tad-two-div-two {
    margin-top: 30px;
  }

  .tad-two ul:nth-of-type(1) {
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 10px;
  }

  .tad-two ul:nth-of-type(1) li {
    border-radius: 10px;
    padding: 15px 8px;
    font-size: 12px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    margin: 0px 3px;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(1) {
    color: #82c189;
    background-color: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(1).active {
    color: #fff;
    background-color: #c2e8c6;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(2) {
    color: #fea03c;
    background: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(2).active {
    background: #fea03c80;
    color: #fff;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(3) {
    color: #fc2533;
    background: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(3).active {
    background: #fc253380;
    color: #fff;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(4) {
    color: #000;
    background: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(4).active {
    color: #fff;
    background: #00000080;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(5) {
    color: #6c8ea0;
    background: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(5).active {
    background: #6c8ea080;
    color: #fff;
  }

  .tad-two ul:nth-of-type(1) li:nth-of-type(6) {
    color: #355a76;
    background: #fff;
  }
  .tad-two ul:nth-of-type(1) li:nth-of-type(6).active {
    background: #355a7680;
    color: #fff;
  }

  .tad-two-div-one {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
  }

  .tad-two-div-one input {
    height: 40px;
    width: 344px;
    outline: none;
    border: 1px solid #636d74;
    border-radius: 5px;
    font-size: 15px;
    text-indent: 40px;
  }
  .tad-two-div-two {
    position: relative;
  }
  .tad-two-div-two .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tad-two-div-two .two img {
    height: 100%;
    width: 210px;
    object-fit: cover;
  }

  .tad-two-div-two .two span {
    font-size: 18px;
    line-height: 25px;
    margin: 40px auto;
    color: #000;
  }

  .tad-two-div-two.advert-block .two div:nth-of-type(1) {
    height: 100%;
  }
  .tad-two-div-two.advert-block .two .two-right {
    padding-left: 10px;
  }
  .tad-two-div-two.advert-block .two .image-count-indicator {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000065;
    border-radius: 4px;
  }
  .tad-two-div-two.advert-block .two .image-count-indicator img {
    height: 12px;
    width: 12px;
  }
  .tad-two-div-two.advert-block .two .image-count-indicator span {
    margin: 0px 2px;
    font-size: 10px;
    color: #fff;
    line-height: 0;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(1) {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(2),
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(2)
    span {
    font-size: 14px;
    font-weight: 700;
    color: #00b53f;
    margin-bottom: 5px;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(2)
    span.declined {
    font-size: 11px;
    color: #f00;
    margin-left: 5px;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(3) {
    margin-bottom: 10px;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(3)
    span:nth-of-type(1) {
    font-size: 12px;
    color: #00b53f;
    margin-bottom: 10px;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(3)
    span.declined {
    color: #f00;
    font-size: 11px;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(3)
    span:nth-of-type(1).closed {
    color: #000;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(3)
    span:nth-of-type(2) {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(4)
    span {
    font-size: 10px;
    margin-right: 5px;
    padding: 4px;
    background-color: #7e94b91f;
    border-radius: 4px;
    white-space: nowrap;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li.declined-reasons
    span {
    font-size: 10px;
    margin-right: 5px;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    border: 1px solid #f00;
  }
  .tad-two-div-two.advert-block .absolute-advert-item {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: 0.3s;
    background: #fff;
    z-index: -3;
  }
  .tad-two-div-two.advert-block:hover .absolute-advert-item {
    position: absolute;
    right: 30px;
    opacity: 1;
    z-index: unset;
    top: 20px;
  }

  .tad-two-div-two.advert-block .absolute-advert-item li {
    padding: 2px 4px;
    font-size: 14px;
    color: #00b53f;
    width: fit-content;
    border-radius: 5px;
    margin: 5px 0;
    transition: 0.3s;
    cursor: pointer;
  }
  .tad-two-div-two.advert-block .absolute-advert-item li:hover {
    background: #00b53f20;
  }
  .tad-two-div-two.advert-block .absolute-advert-item li.delete {
    color: #f00;
  }
  .tad-two-div-two.advert-block .absolute-advert-item li.delete:hover {
    background: #ff000020;
  }

  .tad-two-div-two.advert-block .absolute-advert-item li.special {
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    background-color: #fea03c;
    width: 90px;
    height: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
  }

  .tad-two-div-two.advert-block .two {
    width: 93%;
    height: 160px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #8080804d;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
  }

  .tad-two-div-two.advert-block .two:hover {
    border: 1px solid transparent;
    box-shadow: #50727d80 1px 5px 12px;
    border-color: transparent;
  }
  .payment-info {
    background: #eef2f4;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background: #fff;
    height: 212px;
    width: 100%;
  }

  .header div.user-name {
    font-size: 24px;
    color: #000;
    font-weight: 500;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
  }

  .header div.phone-number {
    color: #000;
    font-weight: 500;
  }

  .tad-two {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 50px;
  }

  .tad-two ul:nth-of-type(1) li {
    pad: 10px 20px;
  }

  .tad-two ul:nth-of-type(1) {
    padding: 20px 100px;
  }

  /* start of style for profile page with advert */

  .tad-two-div-two.advert-block .two img.advert-image {
    height: 150px;
    width: 220px;
  }

  .tad-two-div-two .two img.advert-image {
    height: 150px;
    width: 220px;
  }

  .tad-two-div-two.advert-block .two .image img.advert-image {
    height: 150px;
    width: 220px;
  }

  .tad-two-div-two.advert-block {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .tad-two-div-two.advert-block .two {
    width: 93%;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
  }

  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li:nth-of-type(4)
    span {
    font-size: 12px;
    margin-right: 5px;
    padding: 12px;
    background-color: #7e94b91f;
    border-radius: 4px;
  }
  .tad-two-div-two.advert-block
    .two
    .two-right
    .advert-details-card
    li.declined-reasons
    span {
    padding: 4px;
  }
}

.main-container {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  height: fit-content;
}

.main-container ol {
  height: 50px;
  background-color: #fff;
  margin: 2px 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}

.main-container ol img {
  width: 20px;
  margin-right: 10px;
}

.main-container ol span {
  font-size: 14px;
  transition: 0.3s;
}
.main-container ol:hover span,
.main-container ol span.active {
  color: #3db83a;
}
.main-container ol span:nth-of-type(2) {
  display: none;
}
.main-container ol span:nth-of-type(2).show {
  color: gray;
  font-size: 10px;
  display: block;
}
.main-container ol div {
  display: flex;
  flex-direction: column;
}

.main-container ol.diff {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  height: fit-content;
  background: transparent;
  width: 100%;
}

.main-container ol.differ {
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .main-container {
    flex-direction: column;
    width: 100%;
  }
}

/* START OF TRANSACTION PAGE */
.title-filters {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 1px 9px #00000052;
  z-index: 23;
  position: relative;
  padding: 8px 10px;
}
.title-filters.fixed {
  position: fixed;
  width: 100%;
  top: 0px;
}
.title-filters label {
  color: #222;
  font-size: 15px;
}
.title-filters .filters {
  display: flex;
}
.title-filters .filters div {
  display: flex;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #3e3e3e2e;
  border-radius: 3px;
  align-items: center;
  margin: 5px 10px;
  cursor: pointer;
}
.main-container ol.transaction {
  height: 60px;
}
.main-container ol.transaction li {
  display: flex;
  flex-direction: column;
  margin: 2px 5px;
}
.main-container ol.transaction li img {
  height: 40px;
  width: 40px;
}
.main-container ol.transaction li:nth-of-type(2) span:nth-of-type(1) {
  font-weight: bold;
  padding: 4px 0;
}
.main-container ol.transaction li:nth-of-type(2) span:nth-of-type(2) {
  color: gray;
}
.main-container ol.transaction li:nth-of-type(3) {
  position: absolute;
  right: 10px;
}
.main-container ol.transaction li:nth-of-type(3) span:nth-of-type(1) {
  font-weight: bold;
  padding: 4px 0;
}
.all-categories-list,
.all-status-list {
  position: absolute;
  top: 70px;
  background: #fff;
  width: 100%;
  left: -10px;
  border: none !important;
  display: none !important;
  flex-direction: column;
  align-items: flex-start !important;
  height: fit-content !important;
  box-shadow: 0px 4px 12px #646464a3;
  cursor: unset !important;
}
.all-categories-list.show,
.all-status-list.show {
  display: flex !important;
}

.all-categories-list span,
.all-status-list span {
  padding: 20px 5px;
  font-size: 15px;
  width: 30%;
  cursor: pointer;
}
.all-categories-list span.active,
.all-status-list span.active {
  font-size: 16px;
  color: #3db83a;
  font-weight: 600;
}

@media only screen and (min-width: 500px) {
  .main-container ol.transaction li:nth-of-type(3) {
    right: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .tab-and-desktop.transaction {
    margin: 10px auto;
  }
  .transaction-details-conatiner {
    width: 45vw;
  }
  .header.transaction {
    height: 145px;
  }
  .title-filters {
    padding: 0px 10px;
  }
  .title-filters label {
    font-size: 13px;
  }
  .title-filters .filters div {
    padding: 1px 10px;
  }
  .transactions.first-part {
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .transactions.first-part::-webkit-scrollbar {
    width: 3px;
  }

  .transactions.first-part::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .transactions.first-part::-webkit-scrollbar-thumb {
    background-color: #72db70;
  }

  .transactions.first-part:hover::-webkit-scrollbar-thumb {
    background-color: #3faf3d;
  }
  .main-container ol.transaction li:nth-of-type(3) {
    right: 10px;
  }
  .all-categories-list.show,
  .all-status-list.show {
    top: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .transaction-details-conatiner {
    width: 700px;
  }
  .header.transaction {
    height: 170px;
  }
}
/* END OF TRANSACTION PAGE */
/* START OF TRANSACTION DETAILS */

.tad-one.transaction-details {
  display: none;
}
.transaction-details.tad-two {
  display: flex;
  padding: 0px;
}

.transaction-details-conatiner header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.transaction-details-conatiner header span:nth-of-type(1) {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.transaction-details-conatiner header span:nth-of-type(2) {
  color: gray;
}
.transaction-details-conatiner .hero {
  padding: 5px;
}
.transaction-details-conatiner .hero .date {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: end;
  height: 50px;
  display: flex;
  align-items: center;
}
.date-eds ol {
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.date-eds ol li {
  display: flex;
  align-items: center;
}
.edit-delivery-status {
  padding: 8px 10px;
  background: #fff;
  width: fit-content;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  font-weight: unset;
  border: 1px solid #80808054;
}
.date-eds button {
  padding: 8px 20px;
  margin: 0px 9px;
  background: #3db83a;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  cursor: pointer;
}
.date-eds ol img {
  height: 17px;
  background: #9d9d9d;
  padding: 5px 10px;
  width: 17px;
  border-radius: 2px;
}
.transaction-details-conatiner .hero .date img {
  margin-left: 10px;
}
.transaction-details-conatiner .hero .date span {
  padding: 0 3px;
  color: gray;
}
.transaction-details-conatiner .hero .contacts {
  margin: 2px 0;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}
.transaction-details-conatiner .hero .contacts .types {
  padding: 15px;
  display: flex;
}
.transaction-details-conatiner .hero .contacts .types img {
  height: 25px;
  padding: 8px;
  background: #1fb14133;
  width: 25px;
  margin: 0 4px;
  border-radius: 50%;
}
.transaction-details-conatiner .hero .contacts .types div {
  display: flex;
  flex-direction: column;
}
.transaction-details-conatiner .hero .contacts .types div span {
  padding: 2px 3px;
  color: #333;
}
.transaction-details-conatiner .hero .contacts .types div span:nth-of-type(1) {
  padding: 3px 3px;
  font-weight: bold;
}

table.ordered-products {
  width: 100%;
  margin: 2px 0;
}
table.ordered-products tr {
  width: 96%;
  background: #fff;
  padding: 10px 10px;
  display: flex;
  /* justify-content: space-between; */
}
table.ordered-products tr:nth-of-type(1) {
  background: #ffffff00;
}
table.ordered-products tr td {
  width: 100%;
  padding: 3px;
}
table.ordered-products tr:nth-of-type(1) td {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .tad-one.transaction-details {
    display: block;
    height: fit-content;
  }
  .transaction-details-conatiner .hero {
    width: unset;
  }
}
/* END OF TRANSACTION DETAILS */
.hero.order-list.transaction-page.two {
  position: fixed;
  top: -10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 100%;
  transition: 0.5s;
}
.hero.order-list.transaction-page.two::-webkit-scrollbar {
  width: 3px;
}

.hero.order-list.transaction-page.two::-webkit-scrollbar-track {
  background-color: #fff;
}

.hero.order-list.transaction-page.two::-webkit-scrollbar-thumb {
  background-color: #72db70;
}

.hero.order-list.transaction-page.two:hover::-webkit-scrollbar-thumb {
  background-color: #3faf3d;
}
.hero.order-list.transaction-page.two.show {
  left: 0;
}
.close-trl-filter {
  position: absolute;
  right: 20px;
  padding: 10px;
  top: 10px;
  background: #72717130;
  cursor: pointer;
}
ol.filters.transaction-list div {
  position: sticky;
  bottom: 0px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px -4px 4px #80808052;
}
ol.filters li.check {
  flex-direction: row;
  align-items: center;
}
ol.filters li.check input {
  margin: 5px 10px;
}
ol.filters.transaction-list div button {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.55);
  cursor: pointer;
  font-size: 15px;
}
ol.filters.transaction-list div button:nth-of-type(2) {
  color: #fff;
  background: #3db83a;
}
@media only screen and (min-width: 650px) and (max-width: 1200px) {
  .hero.order-list.transaction-page.two {
    position: unset;
    overflow: unset;
    height: fit-content;
  }
  ol.filters.transaction-list div {
    height: 40px;
  }
  ol.filters.transaction-list div button {
    height: 30px;
    font-size: 13px;
    width: 60px;
  }
  .close-trl-filter {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .hero.order-list.transaction-page.one {
    width: 880px !important;
    margin-bottom: 40px;
  }
  .hero.order-list.transaction-page.two {
    position: absolute;
    height: 87vh;
    overflow-y: scroll;
    width: 321px !important;
    max-height: 750px;
    top: 66px;
    display: none;
  }
  .hero.order-list.transaction-page.two.show {
    left: 350px;
    display: unset;
  }
  table.order-list tr td:nth-of-type(1) {
    width: 50%;
  }
  table.order-list tr td:nth-of-type(2) {
    width: 140%;
  }
  ol.filters.transaction-list div {
    position: sticky;
    height: 40px;
  }
  ol.filters.transaction-list div button {
    height: 30px;
  }
  .search-filter-select.trl {
    width: 60%;
  }
  ol.filters.transaction-list li:nth-of-type(1) {
    position: sticky;
    top: -4px;
    background: #fff;
    z-index: 22;
    height: 40px;
  }
  .close-trl-filter {
    top: 0;
  }
}
.confirm-business-check {
  display: flex;
  width: 70%;
  margin: 10px 0;
  flex-direction: column;
  cursor: pointer;
}
.confirm-business-check div {
  background: #80808039;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.5s;
}
.confirm-business-check div.checked {
  background: #3db83a73;
}

.confirm-business-check input {
  cursor: pointer;
  margin: 0 10px 0 0;
}
.add-extras {
  display: none;
}
.add-extras div {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 4px;
  background: #3db83a;
  color: #fff;
  margin: 5px 0 10px 0;
}
.add-extras div span:nth-of-type(2) {
  font-size: 20px;
  padding-left: 10px;
}
#add-extra-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000050;
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;
}
#add-extra-modal .container {
  height: 450px;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
#add-extra-modal .container div.head {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}
#add-extra-modal .container div.head div {
  display: flex;
  align-items: center;
}
#add-extra-modal .container div input,
#add-extra-modal .container div select {
  height: 30px;
  margin: 3px;
  text-indent: 10px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
  width: 80%;
}
#add-extra-modal .container div input:nth-of-type(2) {
  width: 30%;
}
#add-extra-modal .container div button {
  width: 18%;
  height: 30px;
  background: #80808075;
  color: #fff;
  transition: 0.4s;
  border: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 5px;
}
#add-extra-modal .container div button.enabled {
  background: #3db83a;
}
#add-extra-modal .container .extra-list {
  height: 135px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5px 0;
}
#add-extra-modal .container .extra-list::-webkit-scrollbar {
  width: 0px;
}
#add-extra-modal .container:hover .extra-list::-webkit-scrollbar {
  width: 3px;
}
#add-extra-modal .container:hover .extra-list::-webkit-scrollbar-thumb {
  background: #3db83a;
  border-radius: 32px;
}
#add-extra-modal .container .extra-list::-webkit-scrollbar-track {
  background: #80808057;
}
#add-extra-modal .container .extra-list li {
  background: #8080802a;
  height: 30px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 16px;
  position: relative;
  padding-right: 30px;
}

#add-extra-modal .container .extra-list li label {
  font-size: 14px;
}
#add-extra-modal .container .extra-list li span {
  color: white;
  background: red;
  padding: 1px 3px;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
#add-extra-modal .container button.apply-extra {
  margin: 10px auto 0;
  width: 95%;
  height: 35px;
  border: none;
  background: #3db83a;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  #add-extra-modal .container {
    width: 450px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.pagination li {
  height: 25px;
  width: 25px;
  border: 1px solid #d2dde3;
  margin: 0px 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #8080802a;
}
.pagination li.active {
  background: #3db83a;
  color: #fff;
}
.pagination li img {
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
}
ol.filters li button {
  height: 30px;
  background: #3db83a;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.transaction-details-conatiner .hero {
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .pagination {
    position: absolute;
    left: 8px;
    bottom: -55px;
  }
}
/* checkout start */
.main-checkout-grid {
  width: 100%;
}
.left-main header {
  background: #fff;
  box-shadow: 0px 2px 10px #808080bf;
  margin-top: 4px;
  padding: 7px 0px;
  margin-bottom: 20px;
}
.left-main header ol {
  display: flex;
  display: flex;
  margin: 0px auto;
  width: fit-content;
}
.left-main header ol li {
  padding: 4px 10px;
  margin: 0px 7px;
  color: #6a6969;
}
.left-main header ol li.active {
  background: #39ad37eb;
  border-radius: 15px;
  color: #fff;
}
.left-main-hero .address,
.left-main-hero label[for="door-delivery-address"],
.shipment-details label[for="shipment-number"] {
  display: flex;
  padding: 5px 20px;
  color: gray;

  justify-content: space-between;
}
.left-main-hero .address li:nth-of-type(2) {
  color: #39ad37eb;
  cursor: pointer;
}
.left-main-hero .name-address {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0px 0px 10px #bdbdbdc9;
  margin-bottom: 20px;
}
.left-main-hero .name-address span {
  padding: 3px 0;
  color: gray;
}
.left-main-hero .name-address span.name {
  color: #000;
  font-size: 15px;
}
.left-main-hero .door-address {
  width: 85%;
  background: #fff;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bdbdbdc9;
}
.left-main-hero .door-address input {
  height: 40px;
  width: 1005;
  margin: 5px 0;
  text-indent: 20px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}
.shipment-details {
  width: 85%;
  background: #fff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bdbdbdc9;
}
.shipment-details ol {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #80808057;
}
.shipment-details ol:last-of-type {
  border-bottom: none;
}
.shipment-details ol li {
  margin: 5px 0;
  display: flex;
}
.shipment-details ol li label {
  margin: 5px 0;
  display: flex;
  padding: 0 !important;
}
.shipment-details ol li span {
  color: gray;
  font-size: 15px;
}
.shipment-details ol li:nth-of-type(2) span:nth-of-type(1) {
  margin-right: 30px;
}
.shipment-details ol li:nth-of-type(3) span {
  color: #000;
}

.right-main {
  display: none;
}
.section.delivery ol.foot,
.section.payment ol.foot {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 10px #bdbdbd91;
  margin-bottom: 30px;
}
.section.delivery ol.foot li,
.section.payment ol.foot li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section.delivery ol.foot li:nth-of-type(2),
.section.payment ol.foot li:nth-of-type(2) {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.section.delivery ol.foot li:nth-of-type(2) span:nth-of-type(2),
.section.payment ol.foot li:nth-of-type(2) span:nth-of-type(2) {
  font-weight: bold;
}
.section.delivery ol.foot li:nth-of-type(3),
.section.payment ol.foot li:nth-of-type(3) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section.delivery ol.foot li:nth-of-type(3) span:nth-of-type(2),
.section.payment ol.foot li:nth-of-type(3) span:nth-of-type(2) {
  font-weight: bold;
  color: #3db83a;
}
.section.delivery ol.foot li:nth-of-type(4) {
  width: fit-content;
}
.section.delivery ol.foot li:nth-of-type(4) span,
.section.payment ol.foot li:nth-of-type(4) span {
  color: gray;
  text-align: center;
}
.section.delivery ol.foot li:nth-of-type(5) button,
.section.payment ol.foot li:nth-of-type(4) button {
  height: 40px;
  width: 100%;
  background: #3db83a;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.section.delivery ol.foot li:nth-of-type(6),
.section.payment ol.foot li:nth-of-type(5) {
  width: fit-content;
  align-items: center;
  height: 40px;
}
.section.delivery ol.foot li:nth-of-type(6) span,
.section.payment ol.foot li:nth-of-type(5) span {
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #3db83a;
}
#need-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#need-help span:nth-of-type(1) {
  font-weight: bold;
  color: #3db83a;
  padding: 5px 0;
}
#need-help span:nth-of-type(2) {
  color: gray;
}

.section.payment label {
  display: flex;
  padding: 5px 20px;
  color: gray;
  justify-content: space-between;
  margin: 20px 0 10px;
}
.payment-list,
.delivery-pin-container {
  width: 85%;
  background: #fff;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bdbdbdc9;
}
.payment-list li {
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.payment-list li span {
  color: gray;
}
.payment-list li span.red {
  color: red;
}
.payment-list li:nth-of-type(1) {
  padding: 25px 10px;
}
.payment-list li:nth-of-type(1) input {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.payment-list li:nth-of-type(1) span {
  font-size: 16px;
  color: #000;
}
.voucher-container {
  padding: 20px 10px;
  background: #fff;
  box-shadow: 0px 0px 10px #bdbdbdc9;
  display: flex;
  align-items: center;
}
.voucher-container input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: gray;
  text-indent: 15px;
  font-size: 20px;
}
.voucher-container button {
  width: 70px;
  height: 42px;
  border: 1px solid #3db83a;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background: #3db83a;
  font-weight: bold;
}
.delivery-pin-container {
  margin: 20px auto;
}
.delivery-pin-container span {
  color: gray;
  text-align: center;
  line-height: 2;
  white-space: nowrap;
}
.delivery-pin-container div {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery-pin-container div input {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  margin: 0 10px;
  color: gray;
  font-size: 25px;
  text-align: center;
}
.delivery-pin-container div input:focus {
  border: 1px solid #3db83a;
}
.desktop-checkout-indicator {
  display: none;
}
.change-location-modal {
  height: 100%;
  width: 100%;
  background: #00000050;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 300;
  left: 0;
}
.change-location-modal .container {
  height: fit-content;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.change-location-modal .container select {
  height: 40px;
  width: 100%;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  margin: 5px 0;
  text-indent: 20px;
  font-size: 16px;
}
.change-location-modal .container button {
  height: 42px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
  font-weight: bold;
  background: #3db83a;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .main-checkout-grid {
    display: flex;
    margin: 20px auto;
    width: 95%;
  }
  .left-main header {
    display: none;
  }
  .section.delivery {
    width: 95%;
    margin: 0px auto;
  }
  .left-main-hero {
    background: #fff;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
  }
  .left-main {
    width: 65%;
  }
  .right-main {
    display: flex;
    width: 30%;
    height: fit-content;
    padding: 0;
    flex-direction: column;
  }
  .right-main-container {
    border-radius: 5px;
  }
  .desktop-checkout-indicator {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  label[for="order-summary"] {
    margin-bottom: 15px;
  }
  .right-main-container header {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #80808042;
    padding: 10px 15px;
    background: #fff;
  }
  .right-main-container ol {
    background: #fff;
  }
  .right-main-container ol li {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }
  .right-main-container ol li div {
    width: 100%;
    justify-content: space-between;
  }
  .right-main-container ol li img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
  }
  .right-main-container ol li span {
    font-size: 15px;
  }
  .right-main-container ol li span.title,
  .right-main-container ol li span.quantity {
    font-size: 15px;
    color: gray;
    display: block;
    padding: 5px 0;
  }
  .right-main-container ol li span.price,
  .right-main-container ol li span.delivery-fee-p,
  .right-main-container ol li span.total-fee-p {
    color: #3db83a;
    font-size: 15px;
  }
  .right-main-container ol li span.delivery-fee-p,
  .right-main-container ol li span.total-fee-w,
  .right-main-container ol li span.total-fee-p {
    font-weight: bold;
  }
  .right-main-container ol li div.modify-cart {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #3db83a;
    border-bottom: 1px solid #8080802b;
    border-top: 1px solid #8080802b;
  }
  .right-main-container div.right-foot {
    background: #fff;
    margin-top: 15px;
    padding: 2px;
    display: flex;
    flex-direction: column;
  }
  .right-main-container div.right-foot label {
    padding: 10px 15px;
    border-bottom: 1px solid #8080801a;
  }
  .right-main-container div.right-foot span {
    padding: 10px 15px;
  }
  .right-main-container div.right-foot span.live-chat {
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #3db83a;
    font-weight: bold;
    margin: 0 auto 10px;
    box-shadow: 0px 0px 7px #51525336;
    cursor: pointer;
  }
  .section.delivery ol.foot,
  .section.payment ol.foot {
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px #bdbdbd91;
  }
  #need-help {
    display: none;
  }
  .section.payment {
    width: 93.7%;
    background: #fff;
    border-radius: 5px;
    margin-left: 15px;
  }
  .change-location-modal .container {
    height: 200px;
    width: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-checkout-grid {
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-checkout-grid {
    width: 1170px;
  }
  .section.payment {
    width: 92.7%;
    background: #fff;
    border-radius: 5px;
    margin-left: 20px;
  }
}
/* checkout end */
